name: start-dvwa

on:
  push:

jobs:
  start:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Start DVWA
        run: docker compose -f compose.yml up -d

      - name: Show running containers
        run: docker ps -a
